<hr width="80%" class="d-block m-auto mt-3">
<footer class="footer">
        <div>
            <p class="footer_copy">
                Copyright &copy; 2022. All Rights Reserved.
            </p>
            <p class="footer_copy1">
                Developed with &#9829; by&nbsp;<strong>Anzar Ahmad</strong>
            </p>
        </div>

        <div class="footer_socials">
            <a href="https://www.linkedin.com/in/anzarahmad" class="footer_social">
                <i class="uil uil-linkedin text-primary"></i>
            </a>

            <a href="https://www.github.com/SaadAnzar" class="footer_social">
                <i class="uil uil-github text-primary"></i>
            </a>

            <a href="https://www.instagram.com/saad.anzar" class="footer_social">
                <i class="uil uil-instagram-alt text-primary"></i>
            </a>
        </div>
    </footer>